/* line 1, ../compass/sass/style.scss */
#total-wrapper {
  width: 100%;
  background-color: white;
  font-family: sans-serif;
}
/* line 6, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper {
  width: 100%;
  max-width: 900px;
  background-color: white;
  margin: auto;
}
/* line 11, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px gray solid;
}
/* line 17, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header {
  width: 100%;
  max-width: 900px;
  z-index: 1000;
  position: fixed;
  background-color: #193e63;
  height: 110px;
}
/* line 25, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header #logo-wrapper {
  width: 39%;
  float: left;
}
/* line 28, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header #logo {
  margin-top: 35px;
  margin-left: 20%;
  width: 40%;
  background-color: white;
  font-size: 1.4em;
  text-align: center;
  height: 40px;
  line-height: 1.9em;
}
/* line 40, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header #nav-bar-wrapper {
  width: 61%;
  float: left;
}
/* line 44, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header #nav-bar-wrapper #nav-bar {
  margin-top: 35px;
  margin-left: 20%;
}
/* line 47, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header #nav-bar-wrapper #nav-bar ul li {
  padding-right: 11px;
  padding-left: 11px;
  list-style-type: none;
  font-size: .7em;
  height: 40px;
  background-color: white;
  float: left;
  line-height: 4.2em;
  font-weight: bold;
}
/* line 73, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body {
  clear: both;
  width: 100%;
  position: relative;
  height: 510px;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 80, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body #inner-header {
  width: 50%;
  margin: 23% auto 0;
  background-color: #e0e0e0;
  text-align: center;
}
/* line 87, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body #inner-header #big-logo {
  font-size: 4em;
  padding-top: 20px;
}
/* line 91, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body #inner-header #small-logo-text {
  padding-top: 20px;
  font-size: 1.3em;
  padding-bottom: 30px;
}
/* line 96, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body #inner-header #icons {
  position: absolute;
  width: 40px;
  left: 91%;
  bottom: 24%;
}
/* line 101, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #header-body #inner-header #icons img {
  max-width: 100%;
}
/* line 107, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section {
  width: 100%;
  background-color: #e0e0e0;
  color: #424242;
  overflow: hidden;
}
/* line 113, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection {
  width: 75%;
  margin: auto;
}
/* line 116, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection .subsection-wrapper {
  float: left;
  width: 33.333%;
  margin: auto;
}
/* line 120, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection .subsection-wrapper .box {
  height: 120px;
  width: 120px;
  margin: auto;
  border: 2px solid;
  margin-top: 20%;
}
/* line 127, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection .subsection-wrapper .service-title {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  font-size: .75em;
}
/* line 132, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection .subsection-wrapper .service-title #service-text {
  font-size: 1.3em;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 141, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section .subsection .subsection-wrapper #button {
  width: 50%;
  line-height: 2em;
  margin-left: 25%;
  border-radius: 5px;
  margin-bottom: 17%;
  background-color: #f0f0f0;
}
/* line 152, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section {
  clear: both;
  width: 100%;
  height: 400px;
}
/* line 156, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #about-us {
  padding-top: 5%;
  padding-left: 6%;
  font-size: 1em;
  width: 50%;
  float: left;
  background-color: #fff;
  height: 400px;
  box-sizing: border-box;
  padding-right: 2%;
}
/* line 167, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider {
  box-sizing: border-box;
  padding-top: 6%;
  width: 50%;
  float: left;
  background-color: #fff;
  height: 400px;
  padding-right: 6%;
}
/* line 175, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider .flexslider {
  position: relative;
}
/* line 177, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider .flexslider .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}
/* line 181, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider .flexslider .flex-control-nav li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  cursor: pointer;
  color: transparent;
  border-radius: 20px;
}
/* line 191, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider .flexslider .flex-control-nav.flex-control-paging {
  position: absolute;
  top: 105%;
  left: 33%;
}
/* line 198, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #image-slider ul.flex-direction-nav {
  display: none;
}
/* line 203, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section {
  clear: both;
  width: 100%;
  height: 400px;
}
/* line 207, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #contact-us {
  padding-left: 6%;
  margin-top: 5%;
  float: left;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
}
/* line 215, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #contact-us .contact-headers {
  float: left;
  width: 35%;
  line-height: 2em;
}
/* line 220, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #contact-us .content {
  float: left;
  width: 65%;
  margin-top: 5%;
}
/* line 225, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #contact-us .content .line-spacer {
  line-height: 2.8em;
  font-size: .9em;
}
/* line 231, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #map {
  float: left;
  width: 50%;
  height: 400px;
  margin-top: 5.5%;
  box-sizing: border-box;
  padding-right: 6%;
}
/* line 241, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section {
  clear: both;
}
/* line 243, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #form {
  width: 100%;
  height: 400px;
  background-color: white;
  padding-top: 1%;
}
/* line 248, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #form #form-header {
  width: 40%;
  margin-left: 30%;
  line-height: .5em;
}
/* line 253, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper .body-section #form #form-section {
  width: 40%;
  margin-left: 30%;
}
/* line 259, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #footer-section {
  width: 100%;
  height: 150px;
  background-color: #797979;
  color: white;
}
/* line 264, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #footer-section #footer-left {
  float: left;
  width: 33.3333%;
  padding: 4.5% 6% 0% 6%;
  text-align: center;
  font-size: .75em;
  box-sizing: border-box;
}
/* line 272, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #footer-section #footer-middle {
  float: left;
  width: 33.3333%;
  padding-top: 6%;
  text-align: center;
  text-transform: uppercase;
}
/* line 279, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #footer-section #footer-middle #social-media img {
  display: inline-block;
  width: 25px;
  padding: 2%;
}
/* line 287, ../compass/sass/style.scss */
#total-wrapper #inner-wrapper #second-wrapper #footer-section #footer-right {
  width: 33.3333%;
  float: left;
  padding: 4.5% 6% 0% 6%;
  text-align: center;
  font-size: .75em;
  box-sizing: border-box;
}
