.total-wrapper {
	position: relative;
	background-color: green;
	width:100%;
 	height: 800px;
*/	margin: 0 auto;
	border-radius: 10px;
}

#win-loss{
	position: absolute;
	background: black;
	width: 100%;
	height: 6%;
	color: white;
	border-radius: 5px;
	top: 4.25%;
	/*left: 9.75%;*/
	text-align: center;
/*	padding-top: 1.2%;
*/	font-size: 1.35em;
	line-height: 2.2em;
}

#wins{
	padding-left: 10%;
}

#win-count{
	padding-right: 12%;
}

#total-lost{
	padding-right: 14%;
}

#winning-percentage{
	padding-right: 12%;
}

#total-ties{
	padding-right: 12%
}




#dealer-hand {
	margin-top: 20px;
	color: white;
}


#dealer-total-wrapper{
	position: absolute;
	width: 8%;
	text-align: center;
	color: white;
	font-size: 20px;
	top: 22.5%;
	left: 1.5%;
}


#player-total-wrapper{
	position: absolute;
	width: 8%;
	text-align:center;
	color:white;
	font-size: 20px;
	top: 53%;
	left: 1.5%;
}


.card{
	position: absolute;
	background: white;
	width: 100px;
	height: 150px;
	border: 5px dashed;
	border-radius: 8px;
} 

.card.empty{
	background: #ccc;
	background-image: url('cardimage.jpg');
	width: 100px;
	height: 150px;
	position: absolute;
	border: 5px dashed;
	border-radius: 8px;
}

/*.total-wrapper{
	position: relative;
}*/

#dealer-card-one {
	top: 15%;
	left: 11.5%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#dealer-card-two {
	top: 15%;
	left: 25.7%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#dealer-card-three {
	top: 15%;
	left: 39.9%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#dealer-card-four {
	top: 15%;
	left: 54.1%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#dealer-card-five {
	top: 15%;
	left: 68.3%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}
#dealer-card-six {
	top: 15%;
	left: 82.7%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}



#player-card-one {
	top: 42%;
	left: 11.5%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#player-card-two {
	top: 42%;
	left: 25.7%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#player-card-three {
	top: 42%;
	left: 39.9%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#player-card-four {
	top: 42%;
	left: 54.1%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#player-card-five {
	top: 42%;
	left: 68.3%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}

#player-card-six {
	top: 42%;
	left: 82.7%;
	text-align: center;
	color: black;
	font-size: 3em;
	line-height: 70%;
}



#play-buttons button{
	position: absolute;
	border-radius: 5px;
	top: 66.5%;
	font-size: 1em;
	color: white;
	background-color: #b8cfb8;
}


#draw-button{
	width: 12%;
	height: 6%;
	left: 15.5%;
}

#hit-button{
	width: 12%;
	height: 6%;
	left: 44%;
}

#stand-button{
	width: 12%;
	height: 6%;
	left: 72.5%;
}

#wager-buttons button{
	position: absolute;
	border-radius: 5px;
	top: 77.5%;
	font-size: 1em;
	color: white;
	background-color: red;
}

#wager1-button{
	width: 12%;
	height: 6%;
	left: 15.5%;
}

#wager2-button{
	width: 12%;
	height: 6%;
	left: 44%;
}

#wager5-button{
	width: 12%;
	height: 6%;
	left: 72.5%;
}

#wagers{
	position: absolute;
	background: black;
	width: 100%;
	height: 6%;
	color: white;
	border-radius: 5px;
	top: 88.5%;
	/*left: 9.75%;*/
	line-height: 2.2em;
	font-size: 1.35em;
	text-align: center;
}






#total-money{
  	width: 33%;
  	float: left;
  	color: white;
 }

#money{
	color: white;
}

#current-bet{
	width:33%;
	float: left;}

#wins-losses{
	width:33%;
	float: left;
}


#message{
	width: 100%;
	position: absolute;
	top: 35%;
	color: red;
	font-size: 3em;
	background: #ccc;
	text-align: center;
}

